div.row
	div.col-md-12.col-lg-12

		a(href="javascript:void(0)", onclick="showProfileEditorModal()", class="btn btn-primary btn-sm pull-right")
			<i class="fas fa-edit"></i> Edit Profile

		div.twPc-div
			a.twPc-bg.twPc-block
			div
				div.twPc-button
					a(href="javascript:void(0)", class="btn btn-primary btn-sm")
						i.fab.fa-skype
					a(href="javascript:void(0)", class="btn btn-info btn-sm")
						i.fab.fa-twitter
					a(href="javascript:void(0)", class="btn btn-primary btn-sm")
						i.fab.fa-facebook
					a(href="javascript:void(0)", class="btn btn-danger btn-sm")
						i.fab.fa-instagram
				a(title="", href="javascript:void(0)", class="twPc-avatarLink")
					img(alt="", class="twPc-avatarImg", src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=Admin")

				div.twPc-divUser
					div.twPc-divName
						div.v-pb-10
						a(href="javascript:void(0)", style="text-decoration:none;") Qudrat Nurfajar YS
					span
						a(href="javascript:void(0)", style="text-decoration:none;") <span>@qudrat</span>
					div.v-pb-5
					div.col-md-12
						br
						p(style="color:#000;")
							i Lorem Ipsum is simply dummy text of the printing and typesetting industry

				div.twPc-divStats.text-muted
					ul.twPc-Arrange
						li.twPc-ArrangeSizeFit
							center
								font(title="Posts")
									span.twPc-StatLabel.twPc-block Posts
									span.twPc-StatValue 0
						li.twPc-ArrangeSizeFit
							center
								font(title="Following")
									span.twPc-StatLabel.twPc-block Following
									span.twPc-StatValue 0
						li.twPc-ArrangeSizeFit
							center
								font(title="Following")
									span.twPc-StatLabel.twPc-block Followers
									span.twPc-StatValue 0
div.v-pb-50

div.row

	div.col-xs-12.col-sm-12.col-md-9.col-lg-9
		center
			p No have articles

	div.col-xs-12.col-sm-12.col-md-3.col-lg-3
		div.row
			div.col-xs-12.col-sm-12.col-md-12.col-lg-12
				div.card
					div.card-header
						h5.card-title Followings
					div.card-body
						center
							p No have following
			div.col-xs-12.col-sm-12.col-md-12.col-lg-12
				div.card
					div.card-header
						h5.card-title Followers
					div.card-body
						center
							p No have following