aside.main-sidebar.fixed.offcanvas.b-r.sidebar-tabs(data-toggle='offcanvas')
  .sidebar
    .d-flex.hv-100.align-items-stretch
      .indigo.text-white
        #v-pills-tab.nav.mt-5.pt-5.flex-column.nav-pills(role='tablist', aria-orientation='vertical')
          a.nav-link.blink.skin_handle(href='#')
            i.icon-lightbulb_outline
          a(href='')
            figure.avatar
              img(src='/assets/images/u8.png', alt='')
              span.avatar-badge.online
      #v-pills-tabContent.tab-content.flex-grow-1
        #v-pills-home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='v-pills-home-tab')
          .relative.brand-wrapper.sticky.b-b
            .d-flex.justify-content-between.align-items-center.p-3
              .text-xs-center
                span.font-weight-lighter.s-18 Menu
              .badge.badge-danger.r-0 Admin Panel
          ul.sidebar-menu
            li.treeview
              a(href='/dashboard')
                i.icon.icon-home.s-24
                span Dashboard
            li.treeview
              a(href='#')
                i.icon.icon.icon-database.s-24
                span Data Master
                span.badge.r-3.badge-primary.pull-right 4
              ul.treeview-menu
                li
                  a(href='')
                    i.icon.icon-circle-o
                    | All Products
        #v-pills-profile.tab-pane.fade(role='tabpanel', aria-labelledby='v-pills-profile-tab')
          .relative.brand-wrapper.sticky.b-b.p-3
            form
              .form-group.input-group-sm.has-right-icon
                input.form-control.form-control-sm.light.r-30(placeholder='Search', type='text')
                //- i.icon-search
