section.my-5.pt-5.blog-section
	div.container
		div.row
			div.col-lg-12
				div.d-flex.align-items-center.justify-content-between.mb-4
					h3.mb-0 Blogs
					<a href="javascript:void(0)" class="btn text-uppercase">See All</a>
				div.row
					div.col-lg-8.mb-4.mb-lg-0
						div(id="blogCarousel", class="carousel slide carousel-fade", data-ride="carousel")
							div.carousel-inner
								div.carousel-item.active
									img(src="https://mdbootstrap.com/img/Photos/Slides/img%20(35).jpg", class="d-block w-100 v-carousel-img",alt="", title="")
									div.v-carousel-caption
										h5 Back on the bandwagon
										p(style="color:#fff;")
											First off, I want to thank my fellow friends who read my blog and tell me to update it. They are my personal accountability partners and they dont even know
					div.col-lg-4
						ul.list-unstyled
							li.media.mb-4
								img(class="mr-3", src="/assets/img/blogs/blog-bg.jpg")
								div.media-body.align-self-center
									h6.mt-0 Back on the bandwagon
									span.text-muted August 26, 2019
							li.media.mb-4
								img(class="mr-3", src="/assets/img/blogs/blog-bg.jpg")
								div.media-body.align-self-center
									h6.mt-0 Back on the bandwagon
									span.text-muted August 26, 2019
							li.media.mb-4
								img(class="mr-3", src="/assets/img/blogs/blog-bg.jpg")
								div.media-body.align-self-center
									h6.mt-0 Back on the bandwagon
									span.text-muted August 26, 2019
							li.media.mb-4
								img(class="mr-3", src="/assets/img/blogs/blog-bg.jpg")
								div.media-body.align-self-center
									h6.mt-0 Back on the bandwagon
									span.text-muted August 26, 2019