footer#footer.section-bg
	div.footer-top
		div.container
			div.row

				div.col-lg-6
					div.row
						div.col-sm-6
							div.footer-info
								h3 Rapid
								p Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.
							div.footer-newsletter
								h4 Our Newsletter
								p Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem.
								form(action="", method="post")
									input(type="email", name="email")
									input(type="submit", value="Subscribe")
						div.col-sm-6
							div.footer-links
								h4 Useful Links
								ul
									li
										a(href="javascript:void(0)") Home
									li
										a(href="javascript:void(0)") About
									li
										a(href="javascript:void(0)") Contact
									li
										a(href="javascript:void(0)") Portfolio
									li
										a(href="javascript:void(0)") Blog
									li
										a(href="javascript:void(0)") Terms of service
									li
										a(href="javascript:void(0)") Privacy policy
							div.footer-links
								h4 Contact Me
								p Jl. Pahlawan No. 25 <br> Majalengka, 45418<br> Indonesia<br><b>Phone :</b>081 324 712 041</br><b>Email :</b> fajarpunya99@gmail.com
							div.social-links
								<a href="https://www.facebook.com/fajar.antariksa" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a>
								<a href="https://www.instagram.com/qudratnurfajarys" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
								<a href="https://www.linkedin.com/in/qudrat-nurfajar-yasin-sutisna-s-kom-170183179" class="linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
								<a href="https://wa.me/6283823927728?text=Hello%2C%20Qudrat" class="linkedin" target="_blank"><i class="fab fa-whatsapp"></i></a>
				div.col-lg-6
					div.form
						h4 Location
						p Eos ipsa est voluptates. Nostrum nam libero ipsa vero. Debitis quasi sit eaque numquam similique commodi harum aut temporibus.
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.46433322897!2d108.22117091382917!3d-6.834797795060423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f2f4504315cc3%3A0x3ee9132d8661cbea!2sFajarPunya%5BCom%5D%20Home%20Development!5e0!3m2!1sid!2sid!4v1568302468767!5m2!1sid!2sid" height="440" frameborder="0" style="border:0;width:100%;" allowfullscreen=""></iframe>
	div.container
		div.copyright &copy; Copyright <strong>Rapid</strong>. All Rights Reserved
		div.credits Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>