footer#footer.section-bg
	div.footer-top
		div.container
			div.row

				div.col-lg-9
					div.row
						div.col-sm-6
							div.footer-newsletter
								h4 Our Newsletter
								p Tamen quem nulla quae legam multos aute sint culpa legam noster magna veniam enim veniam illum dolore legam minim quorum culpa amet magna export quem.
								form(action="", method="post")
									input(type="email", name="email")
									input(type="submit", value="Subscribe")
						div.col-sm-6
							div.footer-links
								h4 Contact Me
								p Jl. Pahlawan No. 25 <br> Majalengka, 45418<br> Indonesia<br><b>Phone :</b>081 324 712 041</br><b>Email :</b> fajarpunya99@gmail.com
				div.col-lg-3
					div.social-links
						h4 Social Links
						<a href="https://www.facebook.com/fajar.antariksa" class="facebook" target="_blank"><i class="fab fa-facebook"></i></a>
						<a href="https://www.instagram.com/qudratnurfajarys" class="instagram" target="_blank"><i class="fab fa-instagram"></i></a>
						<a href="https://www.linkedin.com/in/qudrat-nurfajar-yasin-sutisna-s-kom-170183179" class="linkedin" target="_blank"><i class="fab fa-linkedin"></i></a>
						<a href="https://wa.me/6283823927728?text=Hello%2C%20Qudrat" class="linkedin" target="_blank"><i class="fab fa-whatsapp"></i></a>

	div.container
		div.copyright &copy; Copyright <strong>#{process.env.APP_NAME}</strong>. All Rights Reserved
		//- div.credits Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>