.has-sidebar-left
  .pos-f-t
    #navbarToggleExternalContent.collapse
      .bg-dark.pt-2.pb-2.pl-4.pr-2
        .search-bar
          input.transparent.s-24.text-white.b-0.font-weight-lighter.w-128.height-50(type='text', placeholder='start typing...')
        a.paper-nav-toggle.paper-nav-white.active(href='#', data-toggle='collapse', data-target='#navbarToggleExternalContent', aria-expanded='false', aria-label='Toggle navigation')
          i