doctype html
html
  head
    title= title
    meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="msapplication-tap-highlight", content="no")
    meta(name="description", content="Test Application With NodeJS")
    meta(name="msapplication-TileColor", content="#00bcd4")

    link(rel="icon", href="./assets/images/favicon/favicon-32x32.png", sizes="32x32")
    link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(href='//fonts.googleapis.com/icon?family=Roboto:300,300i,400,400i,700|Rubik:400,400i,500', rel='stylesheet')
    link(href="//pixinvent.com/materialize-material-design-admin-template/css/themes/horizontal-menu/materialize.css", type="text/css", rel="stylesheet")
    link(href="//pixinvent.com/materialize-material-design-admin-template/css/themes/horizontal-menu/style.css", type="text/css", rel="stylesheet")
    link(href="//pixinvent.com/materialize-material-design-admin-template/css/layouts/style-horizontal.css", type="text/css", rel="stylesheet")
    link(href="/assets/materialize/vendors/perfect-scrollbar/perfect-scrollbar.css", type="text/css", rel="stylesheet")
    link(href="//pixinvent.com/materialize-material-design-admin-template/vendors/jvectormap/jquery-jvectormap.css", type="text/css", rel="stylesheet")
    link(href="/assets/materialize/vendors/flag-icon/css/flag-icon.min.css", type="text/css", rel="stylesheet")
block body