section.jumbotron.text-center.v-hero
	div.container#v-jumbotron-container
		h2.jumbotron-heading EXPERT WEB DEVELOPER AND SCRIPTING UTILITIES . . .
		p.lead Hardworker, responsible, consistent and enjoys working in a team.

		div.col-12.col-lg-8.offset-lg-2
			div.input-group
				span.input-affix-wrapper
					span.input-prefix
						i.far.fa-envelope
					input(class="form-control v-jumbotron-input", name="email", placeholder="Submit Your Email . . .", type="email", autocomplete="off")
				div.input-group-append
					button.btn.v-join-button Submit