doctype html
html(lang="en")
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='I Love NodeJS')
		meta(name='author', content='Qudrat Nurfajar Yasin Sutisna')
		link(rel='stylesheet', href='/assets/bootstrap/css/app.css')
		link(rel='stylesheet', href='/assets/custom/css/custom.css')
	body.light.sidebar-mini.sidebar-collapse
		#loader.loader
			.plane-container
				.preloader-wrapper.small.active
					.spinner-layer.spinner-blue
						.circle-clipper.left
							.circle
						.gap-patch
							.circle
						.circle-clipper.right
							.circle
					.spinner-layer.spinner-red
						.circle-clipper.left
							.circle
						.gap-patch
							.circle
						.circle-clipper.right
							.circle
					.spinner-layer.spinner-yellow
						.circle-clipper.left
							.circle
						.gap-patch
							.circle
						.circle-clipper.right
							.circle
					.spinner-layer.spinner-green
						.circle-clipper.left
							.circle
						.gap-patch
							.circle
						.circle-clipper.right
							.circle
		div#app
			main
				.blue4.p-t-b-100.height-full.responsive-phone
					.container
						block content
		.control-sidebar-bg.shadow.white.fixed
		script(type='text/javascript', src='/assets/bootstrap/js/app.js')
		script(type='text/javascript', src='/assets/custom/js/login.min.js')