doctype html
html(lang="en")
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='I Love NodeJS')
		meta(name='author', content='Qudrat Nurfajar Yasin Sutisna')
		include ../includes/css.pug
		style(type='text/css').
			#v-forgot-password {
				float:right;
				color:#717171;
				font-size:0.9em;
			}
	body
		div.wrapper
			div.content
				div.container-fluid
					div.col-lg-4.col-md-4.col-xl-4.col-xs-12.col-sm-12.offset-md-4#v-login
						block content

		include ../includes/js.pug
		script.
			vex.defaultOptions.className = 'vex-theme-default';
		block scripts
