doctype html
html(lang="en")
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='I Love NodeJS')
		meta(name='author', content='Qudrat Nurfajar Yasin Sutisna')
	body
		block script