doctype html
html(lang="en")
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='I Love NodeJS')
		meta(name='author', content='Qudrat Nurfajar Yasin Sutisna')
		include ../includes/css.pug
		block styles
	body
		div#header
			include ../includes/dashboards/navbar.pug
		div.wrapper
			include ../includes/dashboards/sidebar.pug
			div.content
				nav(aria-label="breadcrumb")
					block breadcrumb
				div.container-fluid
					block content

		include ../includes/js.pug

		script.

			/*
			* Vex Options
			*/
			vex.defaultOptions.className = 'vex-theme-default';

			/*
			* API URL Variable
			*/
			var ApiURL = "#{process.env.API_URL}";

			/*
			* Logout Function
			*/
			function logout() {
				jQuery.get(ApiURL + '/logout', function(response) {
					if(response.error == 0) {
						location.replace('/');
					}
				});
			}

		block scripts
