doctype html
html(lang="en")
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='I Love NodeJS')
		meta(name='author', content='Qudrat Nurfajar Yasin Sutisna')
		block metas
		include ../includes/css.pug
		block styles
	body

		include ../includes/navbar.pug
		block content
		include ../includes/footer.pug
		include ../includes/js.pug
		block scripts