doctype html
html

    head

        title= title
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="msapplication-tap-highlight", content="no")
        meta(name="description", content="Test Application With NodeJS")
        meta(name="msapplication-TileColor", content="#00bcd4")

        link(rel="icon", href="./assets/images/favicon/favicon-32x32.png", sizes="32x32")
        link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        link(href='//fonts.googleapis.com/icon?family=Roboto:300,300i,400,400i,700|Rubik:400,400i,500', rel='stylesheet')
        link(href="//pixinvent.com/materialize-material-design-admin-template/css/themes/horizontal-menu/materialize.css", type="text/css", rel="stylesheet")
        link(href="//pixinvent.com/materialize-material-design-admin-template/css/themes/horizontal-menu/style.css", type="text/css", rel="stylesheet")
        link(href="//pixinvent.com/materialize-material-design-admin-template/css/layouts/style-horizontal.css", type="text/css", rel="stylesheet")
        link(href="/assets/materialize/vendors/perfect-scrollbar/perfect-scrollbar.css", type="text/css", rel="stylesheet")
        link(href="//pixinvent.com/materialize-material-design-admin-template/vendors/jvectormap/jquery-jvectormap.css", type="text/css", rel="stylesheet")
        link(href="/assets/materialize/vendors/flag-icon/css/flag-icon.min.css", type="text/css", rel="stylesheet")

    // ==================== Start Body ====================
    body#layouts-horizontal

        // ==================== Start loader wrapper ====================
        div#loader-wrapper
            div#loader
            div.loader-section.section-left
            div.loader-section.section-right
        // ==================== End Loader Wrapper ====================

        // ==================== Start Top Navbar ====================
        header#header.page-topbar
            div.navbar-fixed
                nav.navbar-color.gradient-45deg-light-blue-cyan
                    div.nav-wrapper
                        ul.left
                            li
                                h1.logo-wrapper
                                    a(href="", class="brand-logo darken-1")
                                        img(src="/assets/images/logo/materialize-logo.png")
                                        span.logo-text.hide-on-med-and-down Materialize
                        div.header-search-wrapper.hide-on-med-and-down
                            i.material-icons search
                            input(type="text", name="Search", class="header-search-input z-depth-2", placeholder="Explore Materialize")
                        ul.right.hide-on-med-and-down
                            li
                                a(href="javascript:void(0);", class="waves-effect waves-block waves-light profile-button", data-activates="profile-dropdown")
                                    span.avatar-status.avatar-online
                                        img(src="/assets/images/avatar/avatar-7.png", alt="avatar")
                                        i
                            li
                                a(href="javascript:void(0);", class="waves-effect waves-block waves-light")
                                    span.avatar-status.avatar-online
                        ul#profile-dropdown.dropdown-content
                            li
                                a.grey-text.text-darken-1(href="") Profile
                            li.logoutButton
                                a.grey-text.text-darken-1(href="javascript:void(0);") Logout
                nav#horizontal-nav.white.hide-on-med-and-down
                    div.nav-wrapper
                        ul#ul-horizontal-nav.left.hide-on-med-and-down
                            li
                                a(href="")
                                    i.material-icons dashboard
                                    span Dashboard
                //             li.active
                //                 a.dropdown-menu.active(href="", data-activates="Dashboarddropdown")
                //                     i.material-icons mail_outline
                //                     span Email
                //                         i.material-icons.right keyboard_arrow_down
                // ul#Dashboarddropdown.dropdown-content.dropdown-horizontal-list
                //     li
                //         a(href="") User
                //     li
                //         a(href="") eCommerce
        // ==================== End Top ====================

        // ==================== Start Main Div ====================
        div#main
            // ==================== Start Wrapper ====================
            div.wrapper
                // ==================== Start Left Navbar ====================
                aside#left-sidebar-nav.hide-on-large-only
                // ==================== End Left Navbar ====================

                // ==================== Start Content Div Section ====================
                section#content
                    div.container
                        block content
                // ==================== End Content Div Section ====================

                // ==================== Start Right Navbar ====================
                aside#right-sidebar-nav
                // ==================== End Right Navbar ====================
            // ==================== End Wrapper ====================
        // ==================== End Main Div ====================

        script(type="text/javascript", src="/assets/materialize/vendors/jquery-3.2.1.min.js")
        script(type="text/javascript", src="/assets/materialize/vendors/materialize.min.js")
        script(type="text/javascript", src="/assets/materialize/vendors/perfect-scrollbar/perfect-scrollbar.min.js")
        script(type="text/javascript", src="//pixinvent.com/materialize-material-design-admin-template/vendors/chartjs/chart.min.js")
        script(type="text/javascript", src="//pixinvent.com/materialize-material-design-admin-template/vendors/sparkline/jquery.sparkline.min.js")
        script(type="text/javascript", src="/assets/materialize/vendors/plugins.js")

        script(type="text/javascript", src="/assets/custom/js/logout.js")
        block scripts
    // ==================== End Body ====================