nav.navbar.sticky-top.navbar-expand-md
	a(class="navbar-brand", href="/")
		img(src="/assets/img/logo.png",style="width:150px;height:50px;margin-left:-20px;")
	button(class="navbar-toggler", type="button",data-toggle="collapse", data-target="#MainNavbar",aria-controls="MainNavbar", aria-expanded="false", aria-label="Toggle navigation")
		span.navbar-toggler-icon
	div.collapse.navbar-collapse#MainNavbar
		ul.navbar-nav.mr-auto
		div#avatar.dropdown
			a(href="javascript:void(0)",data-toggle="dropdown")
				img(class="avatar",src="https://ui-avatars.com/api/?background=0D8ABC&color=fff&name=Admin")
			div(class="dropdown-menu dropdown-menu-right", aria-labelledby="dropdownMenuLink")
				a(class="dropdown-item", href="javascript::void(0)") Profile
				a(class="dropdown-item", href="javascript::void(0)") Setting
				a(class="dropdown-item", href="javascript::void(0)") Billing
				a(class="dropdown-item", href="javascript:void(0)", onclick="logout()") Logout