nav#sidebar

	ul.list-unstyled#sidebarConstants
		li(class="")
			a(href="/dashboard")
				i.fas.fa-home
				p.sidebarText Dashboard
		li(class="")
			a(href="/dashboard/articles")
				i.fas.fa-edit
				p.sidebarText Articles
		li(class="")
			a(href="/dashboard/companies")
				i.fas.fa-building
				p.sidebarText Companies
		li(class="")
			a(href="/dashboard/users")
				i.fas.fa-users
				p.sidebarText Users
		li
			button(type="button", id="sidebarCollapse",class="btn btn-light fixed-bottom")
				i.fas.fa-align-left