extends layouts/layout_app
block styles
	style.
		.v-hero-2 {
		  background:#000;
		  background-size:cover;
		  height:200px;
		  border-radius: 0;
		}
block content

	include includes/secondJumbotron.pug
	section
		div.container
			div.row
				div.col-lg-12.v-justify-text.
					My name is Qudrat. I am web developer. My skills are NodeJS, Ruby, Laravel, Symfony, Vue JS, Go Language, VB.Net, Python, as web developer with more than 6 years experience since 2013. I able to build website from scratch, create API integration, scrapping website, fix issues on websites and more. I also have long working experience with many project. I am also hardworker, responsible, and consistent, enjoys working in a team, I can learn new programming language easier, i am also man of learn by doing.
				div.col-lg-12
					div.v-pb-50
block scripts