extends layouts/layout_app
block styles
	link(rel="stylesheet", type="text/css", href="/assets/css/my-profile.css")
	link(rel="stylesheet", type="text/css", href="/assets/css/skillbar.css")
	style.
		body {
			overflow-x:hidden;
		}
		.v-hero-2 {
			background:#005456;
			background-size:cover;
			height:200px;
			border-radius: 0;
		}
		.twPc-bg {
		    background-color:#005456;
		    background-size: 100% auto;
		    height: 200px;
		    width: 100%;
		    cursor:pointer;
		    display: block;
		}

block content
	section
		div.row
			div.col-md-12.col-lg-12
				div.twPc-div
					a.twPc-bg
					div
						div.twPc-button
							a(href="javascript:void(0)", class="btn btn-success btn-sm")
								i.fab.fa-whatsapp
							a(href="javascript:void(0)", class="btn btn-info btn-sm")
								i.fab.fa-twitter
							a(href="javascript:void(0)", class="btn btn-primary btn-sm")
								i.fab.fa-facebook
							a(href="javascript:void(0)", class="btn btn-danger btn-sm")
								i.fab.fa-instagram
						a(title="", href="javascript:void(0)", class="twPc-avatarLink")
							img(alt="", class="twPc-avatarImg", src="/assets/img/myprofile.jpg")

						div.twPc-divUser
							div.twPc-divName
								div.v-pb-10
								a(href="javascript:void(0)", style="text-decoration:none;")
									b #{_title}
							div.col-lg-12
								p.text-muted.v-justify-text
									#{_description}
							div.v-pb-5
		div.v-pb-20

	section
		div.container-fluid
			div.row

				div.col-xs-12.col-sm-12.col-md-9.col-lg-9
					div.card

						div.card-body.
							TODO

				div.col-xs-12.col-sm-12.col-md-3.col-lg-3
					div.row
						div.col-xs-12.col-sm-12.col-md-12.col-lg-12
							div.card
								div.card-header
									h5.card-title Programming Skills
								div.card-body
									p
										b HTML
									div.skill-container
										div.skills.html 99%
									p
										b CSS
									div.skill-container
										div.skills.css 99%
									p
										b JAVASCRIPT
									div.skill-container
										div.skills.js 99%
									p
										b PHP
									div.skill-container
										div.skills.php 99%

									p
										b NODE JS
									div.skill-container
										div.skills.nodejs 75%

									p
										b GO
									div.skill-container
										div.skills.go 25%

									p
										b PYTHON
									div.skill-container
										div.skills.python 15%

									p
										b VB NET 2010
									div.skill-container
										div.skills.vbnet 13%

						div.col-xs-12.col-sm-12.col-md-12.col-lg-12
							div.card
								div.card-header
									h5.card-title Followers
								div.card-body
									center
										p No have following
block scripts