extends layouts/layout_app
block styles
	style.
		.v-hero-2 {
		  background:#31D183;
		  background-size:cover;
		  height:200px;
		  border-radius: 0;
		}
block content
	include includes/secondJumbotron.pug
	section
		div.container
			div.row
				div.col-lg-12.v-justify-text.
				div.col-lg-12
					div.v-pb-50
block scripts