doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/materialize/dist/css/materialize.min.css')
    link(href='//fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js')
    script(type='text/javascript', src='/assets/materialize/dist/js/materialize.min.js')
  body
    block content