extends ../layouts/layout_login
block content
	div.row
		div.col-lg-6
			img(src="/assets/images/icon-plane.png", alt="")
		div.col-lg-6.p-t-100
			div.text-white
				h1
					i.icon-lock  Login Administrator
				p.s-18.p-t-b-20.font-weight-lighter
					| Silakan melakukan login terlebih dahulu
				.row
					.col-lg-6
						.form-group.has-icon
							i.icon-envelope-o
							input.form-control.form-control-lg.no-b(type='text', placeholder='Email Address', id="user")
					.col-lg-6
						.form-group.has-icon
							i.icon-user-secret
							input.form-control.form-control-lg.no-b(type='password', placeholder='Password', id="password")
					.col-lg-12
						input.btn.btn-success.btn-lg.btn-block(type='button', value='Login', id="login_btn")
						p.forget-pass.text-white
							| Have you forgot your username or password ?
block script

	script(type="text/javascript").
		function alert(param) {
			return '<div role="alert" class="alert red" style="color:white;">' + param +'</div>';
		}
		jQuery('#login_btn').click(function()
		{
			var user = jQuery('#user').val(), pass = jQuery('#password').val();
			jQuery.ajax( { url : '/api/login', method : 'post', data : 'username=' + user + '&password=' + pass, dataType : 'json',
				success 	: function(res) {
					if(res.error == 0) {
						jQuery('#notice').html(alert(res.message))
						setTimeout(function() { window.location.replace("./dashboard");
						}, 500);
					} else { for (var i = 0; i < res.message.length; i++) { jQuery('#notice').html(alert(res.message[i].msg)) }
					}
				}
			});
		});